
# Welcome to the NIF Registry

Now that you have accepted your invitation 
and your registration is complete, you may
begin to access allocated the following NIF services when you have been allocated to projects.

XNAT: [https://xnat-aaf.ais.sydney.edu.au/](https://xnat-aaf.ais.sydney.edu.au/)
REDCap: [https://redcap.test.ausfed.net/](https://redcap.test.ausfed.net/)

This is a placeholder to demonstrate the Confirmation
Redirect URL functionality for COmanage Registry enrollment
flow configuration.
