
# Welcome to the NIF Registry

Now that you have accepted your invitation 
and your registration is complete, you may
begin to access allocated NIF projects.

This is a placeholder to demonstrate the Confirmation
Redirect URL functionality for COmanage Registry enrollment
flow configuration.